<section class="section-md">
  <div class="container flex flex-column wrap text-center items-center mb-4 bg-white">
    <h2 class="heading--xs mb-4">Sign up</h2>
    <hr>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field flex flex-column wrap text-left mb-4">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
        placeholder: "example@mail.com",
        class: "input__container select__input " %>
      </div>

      <div class="field flex flex-column text-left mb-4">
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true,
        placeholder: "El barto",
        class: "input__container select__input " %>
      </div>

      <div class="field flex flex-column text-left mb-4">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true,
        placeholder: "Bart",
        class: "input__container select__input " %>
      </div>

      <div class="field flex flex-column text-left mb-4">
        <%= f.label :avatar, "Avatar (optional)", style: "display: block" %>
        <%# <span>(optional)</span> %>
        <%= f.file_field :avatar,
        class: "input__container select__input custom-file-input" %>
      </div>

      <div class="field flex flex-column wrap text-left mb-4">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password",
        placeholder: "********",
        class: "input__container select__input " %>
      </div>

      <div class="field flex flex-column wrap text-left mb-4">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password",
        placeholder: "********",
        class: "input__container select__input " %>
      </div>

      <div class="actions flex flex-column wrap text-center items-center mb-4">
        <%= f.submit "Sign up", class: "button button--primary " %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</section>
