<div class="grid bb">

  <%# Image %>
  <div>
    <% if tweet.user.avatar.attached? %>
      <%= image_tag(tweet.user.avatar, class: "image_circle_sm") %>
    <% else %>
      <%= image_tag("avatar_default_user1.png", class: "image_circle_sm") %>
    <% end %>
  </div>

  <%# Info container %>
  <div class="field flex input wrap text-left mb-4">
    <%# name username time %>
    <div>
    <%= link_to user_path(tweet.user), class: "link" do%>
      <%= tweet.user.name %>
      <span class="secondary-text">@<%= tweet.user.username %></span>
      <span class="secondary-text"><%= time_ago_in_words(tweet.updated_at) %></span>
    <%end%>
    </div>
    <%# Body %>
    <% if tweet.is_a?(Tweet) %>
      <%= link_to tweet, class:"link text-left" do%>
        <%= tweet.body %>
      <% end %>
    <% else %>
        <%= tweet.body %>
    <% end %>
    <%# Comment counter %>
    <div class="flex justify-between">
      <% if tweet.is_a?(Tweet) %>
        <div class="flex">
          <% if current_user %>
            <%= link_to tweet do%>
              <%= image_tag("comment.png")%>
            <% end %>
          <% else %>
              <%= image_tag("comment.png")%>
          <% end %>
          <span class="ml-1"><%= tweet.comments_count %></span>
        </div>
      <% end %>
      <div class="flex gap-4">
        <%if current_user && current_user == tweet.user %>
          <%= button_to "Destroy this tweet", tweet, method: :delete %>

          <%#= link_to root_path, {tweet: @tweet}, method: :delete do%>
            <%#= image_tag("destroy.png")%>
          <%# end %>

          <%= link_to edit_tweet_path(tweet) do%>
            <%= image_tag("edit.png")%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>